.grouping-controls button {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 6px;
  min-width: 20px;
  color: var(--text-color);
  cursor: pointer;
  line-height: 18px;
  padding-top: 5px;
}

.grouping-controls button:hover {
  border-color: var(--brand-color);
  color: var(--brand-color);
}
