body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --overlay-background-color: #282c34;
  --text-color: #222222;
  --brand-color: #0094ff;
  --brand-color-darker: #0074cc;
  --overlay-text-color: var(--brand-color);
  --fontFamily: "IBM Plex Sans", sans-serif;
  --border-radius: 5px;
}

html,
body {
  height: 100%;
  font-family: var(--fontFamily);
}

#root {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.ogma-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 401;
  display: flex;
  gap: 5px;
  align-items: center;
  backdrop-filter: blur(5px);
}

.gh-link > div {
  display: flex;
  align-items: center;
}

.ogma-tooltip {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}