body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --overlay-background-color: #282c34;
  --overlay-text-color: #61dafb;
  --fontFamily: "IBM Plex Sans", sans-serif;
  --mantine-font-family: var(--fontFamily);
  --mantine-font-family-headings: var(--fontFamily);
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.Logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 401;
  display: flex;
  backdrop-filter: blur(5px);
}

.ogma-tooltip,
.ogma-popup {
  z-index: 401;
  box-sizing: border-box;
}

.ogma-tooltip--content,
.ogma-popup--body {
  transform: translate(-50%, 0);
  background-color: var(--overlay-background-color);
  color: var(--overlay-text-color);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  box-shadow: 0 8px 30px rgb(0 0 0 / 12%);
  width: auto;
  height: auto;
  position: relative;
}

.ogma-tooltip {
  /* transition: linear;
  transition-property: transform;
  transition-duration: 50ms; */
  pointer-events: none;
}

.ogma-popup--body {
  transform: translate(-50%, -100%);
}

.ogma-tooltip--content:after,
.ogma-popup--body:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 7px 6px 0;
  border-color: transparent var(--overlay-background-color) transparent
    transparent;
  position: absolute;
  left: 50%;
  top: auto;
  bottom: 3px;
  right: auto;
  transform: translate(-50%, 100%) rotate(270deg);
}

.ogma-popup--close {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
}

.ogma-popup--top .ogma-popup--body,
.ogma-tooltip--top .ogma-tooltip--content {
  bottom: 6px;
  transform: translate(-50%, -100%);
}

.ogma-popup--bottom .ogma-popup--body,
.ogma-tooltip--bottom .ogma-tooltip--content {
  transform: translate(-50%, 0%);
  top: 3px;
}

.ogma-popup--bottom .ogma-popup--body:after,
.ogma-tooltip--bottom .ogma-tooltip--content:after {
  top: 3px;
  bottom: auto;
  transform: translate(-50%, -100%) rotate(90deg);
}

.ogma-popup--right .ogma-popup--body,
.ogma-tooltip--right .ogma-tooltip--content {
  transform: translate(0, -50%);
  left: 6px;
}

.ogma-popup--right .ogma-popup--body:after,
.ogma-tooltip--right .ogma-tooltip--content:after {
  left: 0%;
  top: 50%;
  transform: translate(-100%, -50%) rotate(0deg);
}

.ogma-popup--left .ogma-popup--body,
.ogma-tooltip--left .ogma-tooltip--content {
  transform: translate(-100%, -50%);
  right: 6px;
}

.ogma-popup--left .ogma-popup--body:after,
.ogma-tooltip--left .ogma-tooltip--content:after {
  right: 0%;
  left: auto;
  top: 50%;
  transform: translate(100%, -50%) rotate(180deg);
}

.ogma-popup--content {
  padding: 10px;
}

.control-buttons {
  position: absolute;
  z-index: 400;
  right: 20px;
  top: 20px;
}

.control-buttons button {
  backdrop-filter: blur(5px);
}

.controls-section {
  margin-bottom: 2em;
}

#button {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 401;
}

.ReactIcon {
  margin: 3px;
}
