body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --overlay-background-color: #282c34;
  --text-color: #222222;
  --brand-color: #0094ff;
  --brand-color-darker: #0074cc;
  --overlay-text-color: var(--brand-color);
  --fontFamily: "IBM Plex Sans", sans-serif;
  --border-radius: 5px;
}

html,
body {
  height: 100%;
  font-family: var(--fontFamily);
}

#root {
  height: 100%;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.ogma-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 401;
  display: flex;
  gap: 5px;
  align-items: center;
  backdrop-filter: blur(5px);
}

.gh-link > div {
  display: flex;
  align-items: center;
}

.ogma-tooltip {
  color: var(--overlay-text-color);
  background-color: var(--overlay-background-color);
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 8px 30px #0000001f;
}

.ogma-popup--close {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  font-size: 14px;
  transform: translateX(-50%) translateY(calc(-100% - 10px));
  padding: 16px;
}

.popup::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--overlay-background-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
